* {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
  box-sizing: border-box;
}
#isaacnewton {
  width: 60.5%;
  padding: 20px;
  font-size: 12px;
  background-color: #ffffff;
  border-top: 3px solid #7BC5CA;
  display: block;
}
#isaacnewton h2, #alberteinstein h2, #nikolatesla h2 {
  background: #ffffff;
}
#isaacnewton img {
  width: 12%;
  float: left;
  margin: 10px;
}
#isaacnewton p, #alberteinstein p, #nikolatesla p {
  padding: 10px;
}
#isaacnewton p, p i, #alberteinstein p, #nikolatesla p{
  background: #ffffff;
}
#isaacnewton a, #alberteinstein a, #nikolatesla a {
  padding: 10px;
  margin: 10px;
  background-color: #7BC5CA;
  text-decoration: none;
  color: #ffffff;
}
#alberteinstein, #nikolatesla {
  width: 30%;
  padding: 20px;
  font-size: 12px;
  background-color: #ffffff;
  border-top: 3px solid #7BC5CA;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}
#alberteinstein img, #nikolatesla img {
  float: left;
  width: 30%;
  margin: 10px;
}
